<%= simple_form_for @redirect_rule, :html => { :class => 'form-horizontal', onsubmit: 'validateForm()'} do |f| %>
  <%= f.input :source, required: true %>
  <%= f.input :regex %>
  <%= f.input :destination, required: true %>

  <%= f.button :submit, :class => 'btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                redirect_rules_path, :class => 'btn btn-default' %>
<% end %>
