<%- model_class = RedirectRule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<p>There are 3 ways to use it;</p>
<ul>
  <li>Redirection: <strong>http://localhost:3000/transfer?source=[Your source URL]</strong>. The request will be redirected.</li>
  <li>API: <strong>http://localhost:3000/api?source=[Your source URL]</strong>. The request will render a JSON response.</li>
  <li>Relative Redirection: <strong>http://localhost:3000/[Your relative source URL]</strong>. The request will be redirected if entry is present for host.</li>
</ul>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:regex) %></th>
      <th><%= model_class.human_attribute_name(:destination) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @redirect_rules.each do |redirect_rule| %>
      <tr>
        <td><%= link_to redirect_rule.id, redirect_rule_path(redirect_rule) %></td>
        <td><%= redirect_rule.source %></td>
        <td><%= redirect_rule.regex %></td>
        <td><%= redirect_rule.destination %></td>
        <td><%=l redirect_rule.created_at %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      redirect_rule_path(redirect_rule), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_redirect_rule_path(redirect_rule), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      redirect_rule_path(redirect_rule),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_redirect_rule_path,
            :class => 'btn btn-primary' %>
