<%- model_class = RedirectRule -%>
<div class="page-header">
  <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
  <h4>Source allows RegExp. Please make sure you escape the RegExp.</h4>
  <p>You may use wildcards to use single rule to slay multiple items. Use {match} keyword in destination to make replacements.</p>
  <p>If you want to allow query string, don't add $ to end of your Regexp</p>
  <h2>Example</h2>
  <p><strong>Source: </strong>http:\/\/written.rwdev.io\/[0-9]*$</p>
  <p><strong>Regex: </strong>Checked</p>
  <p><strong>Destination: </strong>http://ios.rwdev.io/articles/{match}</p>
  <p><em>In the above example, an URL like http://written.rwdev.io/2323 will lead to http://ios.rwdev.io/articles/2323</em></p>
  <h2>Usage</h2>
</div>
<%= render :partial => 'form' %>
