<%- model_class = RedirectRule -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:source) %>:</strong></dt>
  <dd><%= @redirect_rule.source %></dd>
  <dt><strong><%= model_class.human_attribute_name(:regex) %>:</strong></dt>
  <dd><%= @redirect_rule.regex %></dd>
  <dt><strong><%= model_class.human_attribute_name(:destination) %>:</strong></dt>
  <dd><%= @redirect_rule.destination %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              redirect_rules_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_redirect_rule_path(@redirect_rule), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              redirect_rule_path(@redirect_rule),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
